@import "tailwindcss";


html{
    scroll-behavior: smooth;
}


body[data-theme="dark"] {
    background-color: #333;
    color: #fff;
}

body[data-theme="light"] {
    background-color: #fff;
    color: #000;
}